<div class="work">
  <div class="work__title">Work Experience</div>
  <div class="work__container">
    <div class="work__date">
        2021 - present
    </div>
    <div class="work__experience">
        <div class="work__experience-title">
            Full Stack Software Developer - Supporting Education Group  <Img
            src="../../../assets/icons/arrow-link.svg"
            alt="arrow"
          />
        </div>
        <div class="work__experience-content">
            Led a team of 5 engineers to develop our creator tools and e-commerce app. Collaborated closely with the Head of Product to track our tactical objectives, improve technical directions and shipping frequency.
        </div>
        <div class="work__experience-tech">
            React • Redux • Symfony • AWS
        </div>
    </div>
  </div>
</div>

<div class="side-project"></div>
