/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

@font-face {
  font-family: "mona-sans";
  src: url("./assets/fonts/Mona-Sans.ttf") format("truetype");
}

html,
body {
  background-color: var(--site-background-color);
  font-family: mona-sans !important;
  line-height: 1.5;
}
